#boxes {
  display: flex;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}

.color {
  background-color: lightsalmon;
}

.round {
  border-radius: 10px;
}

.numberDiv {
  display: flex;
  flex-wrap: wrap;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 5px;
}
