.banner {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 130px auto 0;
  img {
    width: 50%;
  }
  .right-side {
    width: 48%;
    margin-right: 100px;
    h1 {
      font-size: 38px;
    }
    p {
      margin: 15px 0 35px 0;
      max-width: 355px;
    }
    a {
      display: inline-block;
      background-color: $color-primary;
      color: white;
      font-weight: bold;
      padding: 15px 25px;
      border-radius: 50px;
    }
  }
  .celebrate & {
    flex-direction: row-reverse;
  }
}
