.banner {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 130px auto 0;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  img {
    width: 50%;
  }
  .right-side {
    width: 48%;
    margin-right: 100px;
    @media (max-width: 768px) {
      width: 85%;
      text-align: center;
      margin-right: 0;
    }
    h1 {
      font-size: 38px;
    }
    p {
      margin: 15px 0 35px 0;
      max-width: 355px;
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
    a {
      display: inline-block;
      background-color: $color-primary;
      color: white;
      font-weight: bold;
      padding: 15px 25px;
      border-radius: 50px;
    }
  }
  .celebrate & {
    flex-direction: row-reverse;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
}
