.message {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 130px auto 0;
  background-color: $color-primary;
  border-radius: 20px;
  min-height: 380px;
  img {
    width: 32%;
    transform: rotate(20deg);
  }
  @media (max-width: 768px) {
    flex-direction: column;
    img {
      margin: 40px;
    }
  }
  .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    @media (max-width: 768px) {
      align-items: stretch;
      width: 90%;
      text-align: center;
    }
    h1 {
      color: white;
    }
    input {
      border: none;
      padding: 15px 25px;
      border-radius: 50px;
      margin: 40px 0 20px 0;
    }
    a {
      color: white;

      background-color: $color-title;
      padding: 15px 25px;
      border-radius: 50px;
    }
    .messageConfirm {
      color: white;
      margin-bottom: 15px;
    }
  }
}
