header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 80px;
  z-index: 2;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 28px auto;
    font-weight: bold;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 25px;
      }
    }
    nav {
      ul {
        display: flex;
        align-items: center;
        li {
          margin: 0 25px;
          cursor: pointer;
        }
        i {
          cursor: pointer;
        }
      }
      > i {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .header-container {
      nav {
        display: flex;
        > i {
          display: block;
          margin: 0 15px;
          cursor: pointer;
        }
      }
      ul li {
        display: none;
      }
    }
  }
}
