//Variable

$color-primary: #00cc66;
$color-secondary: #fb4b4e;
$color-black: #222121;
$color-white: #f7f7f7;
$font: 'Kumbh Sans', sans-serif;

// mixin

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

// ------------------------------reset / general

* {
  box-sizing: border-box;
  text-decoration: none;
  color: $color-black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $font;
}

body {
  max-width: 1200px;
}
