.timer {
  font-weight: bold;
  color: red;
}
.cookie-game {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

.bx-cookie {
  font-size: 36px;
}
.cookie-img {
  width: 100px;
}

.inline {
  display: inline;
}
