* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 20px;
}

h1,
h2,
h3,
h4 {
  color: #282525;
}

p {
  color: #5d5656;
}

li {
  list-style-type: none;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

.dark {
  background-color: black;
  color: white;
}
.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4 {
  color: white;
}
.dark header {
  background-color: black;
  color: white;
}
.dark header a {
  color: white;
}

body > i {
  position: fixed;
  right: 5%;
  bottom: 5%;
  color: #dc3845;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 80px;
  z-index: 2;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 28px auto;
  font-weight: bold;
}
header .header-container .logo {
  display: flex;
  align-items: center;
}
header .header-container .logo img {
  width: 25px;
}
header .header-container nav ul {
  display: flex;
  align-items: center;
}
header .header-container nav ul li {
  margin: 0 25px;
  cursor: pointer;
}
header .header-container nav ul i {
  cursor: pointer;
}
header .header-container nav > i {
  display: none;
}

@media (max-width: 768px) {
  header .header-container nav {
    display: flex;
  }
  header .header-container nav > i {
    display: block;
    margin: 0 15px;
    cursor: pointer;
  }
  header .header-container ul li {
    display: none;
  }
}
.banner {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 130px auto 0;
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
}
.banner img {
  width: 50%;
}
.banner .right-side {
  width: 48%;
  margin-right: 100px;
}
@media (max-width: 768px) {
  .banner .right-side {
    width: 85%;
    text-align: center;
    margin-right: 0;
  }
}
.banner .right-side h1 {
  font-size: 38px;
}
.banner .right-side p {
  margin: 15px 0 35px 0;
  max-width: 355px;
}
@media (max-width: 768px) {
  .banner .right-side p {
    max-width: 100%;
  }
}
.banner .right-side a {
  display: inline-block;
  background-color: #dc3845;
  color: white;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 50px;
}
.celebrate .banner {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .celebrate .banner {
    flex-direction: column-reverse;
  }
}

.giving {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto;
}
.giving h2 {
  width: 310px;
  text-align: center;
  margin-bottom: 100px;
}
.giving .cards {
  display: flex;
  flex-wrap: wrap;
}
.giving .cards .card {
  display: flex;
  flex-direction: column;
  width: 33%;
  min-width: 250px;
  align-items: center;
  transition: transform 0.3s;
}
@media (max-width: 768px) {
  .giving .cards .card {
    width: 50%;
  }
}
.giving .cards .card img {
  width: 35%;
}
.giving .cards .card p {
  width: 170px;
  text-align: center;
}
.giving .cards .card:hover {
  transform: translateY(-5px);
}

.gift {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto;
}
.gift .cards {
  display: flex;
  flex-wrap: wrap;
}
.gift .cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 29%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
  height: 265px;
  transition: transform 0.3s;
}
@media (max-width: 768px) {
  .gift .cards .card {
    width: 43%;
  }
}
.gift .cards .card:hover {
  transform: translateY(-5px);
}
.gift .cards .card i {
  position: absolute;
  top: 5%;
  right: 7%;
  color: #dc3845;
}
.gift .cards .card img {
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

.newGift h1 {
  text-align: center;
}

.swiper {
  max-width: 1000px;
  height: 400px;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper .swiper-slide .card {
  position: relative;
  font-weight: bold;
  margin: 0 40px;
  height: 285px;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: 0.3s;
}
.swiper .swiper-slide .card:hover {
  transform: translateY(-5px);
}
@media (max-width: 768px) {
  .swiper .swiper-slide .card {
    margin: 0;
  }
}
.swiper .swiper-slide .card .top-part {
  background-color: #dc3845;
  border-radius: 0 0 100% 100%;
}
.swiper .swiper-slide .card .top-part img {
  display: block;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  object-fit: cover;
}
.swiper .swiper-slide .card .bottom-part {
  padding: 20px;
}
.swiper .swiper-slide .card .bottom-part i {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #dc3845;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.swiper-pagination span {
  background-color: #dc3845;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #dc3845;
}

.message {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 130px auto 0;
  background-color: #dc3845;
  border-radius: 20px;
  min-height: 380px;
}
.message img {
  width: 32%;
  transform: rotate(20deg);
}
@media (max-width: 768px) {
  .message {
    flex-direction: column;
  }
  .message img {
    margin: 40px;
  }
}
.message .left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}
@media (max-width: 768px) {
  .message .left-side {
    align-items: stretch;
    width: 90%;
    text-align: center;
  }
}
.message .left-side h1 {
  color: white;
}
.message .left-side input {
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  margin: 40px 0 20px 0;
}
.message .left-side a {
  color: white;
  background-color: #282525;
  padding: 15px 25px;
  border-radius: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
footer > img {
  position: absolute;
  width: 140px;
  z-index: -1;
}
footer .ball1 {
  bottom: 0;
  left: 10%;
}
footer .ball2 {
  bottom: 10%;
  right: 5%;
}
@media (max-width: 768px) {
  footer .ball1 {
    bottom: 50%;
    left: 60%;
  }
  footer .ball2 {
    bottom: 20%;
    right: 0%;
  }
}

.footer-top {
  max-width: 1000px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 130px auto 120px;
}
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer-top .footer-logo {
  width: 20%;
}
.footer-top .footer-logo img {
  width: 25px;
}
.footer-top .footer-logo h3 {
  display: inline;
}
.footer-top li {
  color: #5d5656;
}
.footer-top li img {
  width: 130px;
}

/*# sourceMappingURL=style.css.map */
