* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #282525;
}

p {
  color: #5d5656;
}

li {
  list-style-type: none;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

.dark {
  background-color: black;
  color: white;
}
.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4 {
  color: white;
}
.dark header {
  background-color: black;
  color: white;
}
.dark header a {
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 80px;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 28px auto;
  font-weight: bold;
}
header .header-container .logo {
  display: flex;
  align-items: center;
}
header .header-container .logo img {
  width: 25px;
}
header .header-container nav ul {
  display: flex;
}
header .header-container nav ul li {
  margin: 0 25px;
}

.banner {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 130px auto 0;
}
.banner img {
  width: 50%;
}
.banner .right-side {
  width: 48%;
  margin-right: 100px;
}
.banner .right-side h1 {
  font-size: 38px;
}
.banner .right-side p {
  margin: 15px 0 35px 0;
  max-width: 355px;
}
.banner .right-side a {
  display: inline-block;
  background-color: #dc3845;
  color: white;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 50px;
}
.celebrate .banner {
  flex-direction: row-reverse;
}

.giving {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto;
}
.giving h2 {
  width: 310px;
  text-align: center;
  margin-bottom: 100px;
}
.giving .cards {
  display: flex;
}
.giving .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.giving .cards .card img {
  width: 35%;
}
.giving .cards .card p {
  width: 170px;
  text-align: center;
}

.gift {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto;
}
.gift .cards {
  display: flex;
  flex-wrap: wrap;
}
.gift .cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 29%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
  height: 265px;
}
.gift .cards .card i {
  position: absolute;
  top: 5%;
  right: 7%;
  color: #dc3845;
}
.gift .cards .card img {
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

.swiper {
  width: 1000px;
  height: 400px;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper .swiper-slide .card {
  position: relative;
  font-weight: bold;
  margin: 0 40px;
  height: 285px;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.swiper .swiper-slide .card .top-part {
  background-color: #dc3845;
  border-radius: 0 0 100% 100%;
}
.swiper .swiper-slide .card .top-part img {
  display: block;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  object-fit: cover;
}
.swiper .swiper-slide .card .bottom-part {
  padding: 20px;
}
.swiper .swiper-slide .card .bottom-part i {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #dc3845;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.swiper-pagination span {
  background-color: #dc3845;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #dc3845;
}

/*# sourceMappingURL=style.css.map */
