$color-primary: #dc3845;
$color-title: #282525;
$color-para: #5d5656;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}
body {
  margin: 20px;
}
h1,
h2,
h3,
h4 {
  color: $color-title;
}
p {
  color: $color-para;
}

li {
  list-style-type: none;
}
a,
a:visited {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

.dark {
  background-color: #282525;
  color: white;
  p,
  h1,
  h2,
  h3,
  h4 {
    color: white;
  }
  header {
    background-color: #282525;
    color: white;
    a {
      color: white;
    }
  }
  .swiper .swiper-slide {
    background-color: #282525;
  }
}

body > a {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
  i {
    color: $color-primary;
  }
}
