.navbar {
  display: flex;
  justify-content: space-between;

  .menu {
    display: flex;
    gap: 20px;

    li {
      list-style-type: none;
      margin-bottom: 0;

      a {
        padding: 15px;
        color: #123456;
        position: relative;

        &:hover {
          text-decoration: none;
          border-bottom: 1px solid #123456;
        }

        &:focus {
          background-color: transparent;
          text-decoration: none;
        }
        &::before {
          content: '';
          position: absolute;
          background-color: #123456;
          height: 2px;
          width: 100%;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}
