.navbar {
  display: flex;
  justify-content: space-between;

  .menu {
    display: flex;
    gap: 20px;

    li {
      list-style-type: none;
      margin-bottom: 0;

      a {
        padding: 15px;
        color: #123456;
        position: relative;

        &:hover {
          text-decoration: none;
          border-bottom: 1px solid #123456;
          &::before {
            width: 100%;
          }
        }

        &:focus {
          background-color: transparent;
          text-decoration: none;
        }
        &::before {
          content: '';
          position: absolute;
          background-color: #123456;
          height: 1px;
          width: 0;
          left: 0;
          bottom: 0;
          transition: 0.5s;
        }
      }
    }
  }
}

.flex {
  display: flex;
}

.user-list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  article {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h4 {
  margin: 0;
}
