//variables

$primary-color: #ffc425;
$primary-gradient: #eaaa00;
$secondary-color: #e13e45;

//settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
ul {
  padding-inline-start: 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bevan', cursive;
}
p {
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #ffc425 0%, #eaaa00 100%);
}

.loader-page {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.loader {
  padding: 15px;
  border: 10px solid $secondary-color;
  border-bottom-color: transparent;
  border-radius: 50px;
  animation: rotate 1s infinite linear;
  height: 0;
  width: 0;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
